.userprofile-body {
    height: 100vh;
    width: 100%;

    display: flex;
}

.userprofile-mainbody {
    height: 100%;
    width: 60%;

    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-width: none;
    border-right: 1px solid rgb(212, 205, 205);
}

.userprofile-submainbody {
    height: 100%;
    width: 35%;
    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
    scrollbar-width: none;

}

.userprofile-mainbody-1 {
    height: 25%;
    width: 100%;

    display: flex;
}

.userprofile-mainbody-1-1 {
    height: 100%;
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userprofile-mainbody-1-2 {
    height: 100%;
    width: 75%;

}

.userprofile-mainbody-1-2-1 {
    height: 25%;
    width: 100%;

    display: flex;
}

.userprofile-mainbody-1-2-1-2 {
    height: 100%;
    width: 50%;

    font-weight: bold;
    display: flex;
    align-items: center;
}

.userprofile-mainbody-1-2-1-1 {
    height: 100%;
    width: 30%;

}

.userprofile-mainbody-1-2-1-1 {
    height: 100%;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.userprofile-mainbody-1-2-1-3 {
    height: 100%;
    width: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.userprofile-mainbody-1-2-2 {
    height: 75%;
    width: 100%;

    display: flex;
}

.userprofile-mainbody-1-2-2-1 {
    height: 100%;
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.userprofile-mainbody-1-1-dp {
    height: 150px;
    width: 150px;
    border-radius: 100px;

}

.userprofilefollowbtn {
    height: 90%;
    width: 95%;
    border: 1px solid #1DA1F2;
    border-radius: 10px;
    background-color: #fff;
    font-weight: bold;
    color: #1DA1F2;
}

.userprofile-mainbody-1-2-2-1-1 {
    height: 50%;
    width: 30%;


}

.userprofile-mainbody-1-2-2-1-1-inner {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.userprofile-mainbody-2 {
    max-height: 150px;
    height: auto;
    width: 100%;

}

.userprofile-mainbody-2-1 {
    height: 30px;
    width: 100%;

    padding-left: 5%;

}

.userprofile-mainbody-2-3 {
    height: 30px;
    width: 100%;

    padding-left: 5%;
    color: #1DA1F2;
}

.userprofile-mainbody-2-2 {
    height: auto;
    width: 100%;

    padding-left: 5%;
}

.userprofile-mainbody-3 {
    height: 100%;
    width: 100%;

}

.profileuserspost {
    height: 100%;
    width: 100%;
    display: flex;

}

.profileuserspost-1 {
    height: 250px;
    width: 300px;

    margin-left: 2px;
    margin-top: 3px;
}