.settings-maindiv {
    height: 100%;
    width: 30%;
    border-right: 0.5px solid rgb(204, 190, 190);
    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
}

.settings-maindiv-1 {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d9cf1cd;
    font-weight: bold;
    font-size: 20px;
}

.settings-maindiv-2 {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-maindiv-3 {
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: left;
    font-weight: bold;
    align-items: center;
    margin-left: 2%;
}

.settings-maindiv-4 {
    height: 10%;
    width: 100%;
    display: flex;
}

.settings-maindiv-4-1 {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.settings-maindiv-4-2 {
    height: 100%;
    width: 70%;
}

.settings-maindiv-4-2-1 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
}

.settings-maindiv-4-2-2 {
    height: 50%;
    width: 100%;
    font-weight: bold;
    font-size: small;
    color: rgb(47, 47, 47);
}

.settings-maindiv-4-2-x {
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;

}

/* media queries for mobile */

@media only screen and (max-width:480px) {
    .settings-maindiv {
        height: 100%;
        width: 100%;
        border-right: 0.5px solid rgb(204, 190, 190);
        overflow: hidden;
        overflow: scroll;
        scrollbar-width: none;
    }
}

/* media queries for tAB */

@media only screen and (min-width : 426px) and (max-width:1024px) {
    .settings-maindiv {
        height: 100%;
        width: 100%;
        border-right: 0.5px solid rgb(204, 190, 190);
        overflow: hidden;
        overflow: scroll;
        scrollbar-width: none;
    }

}